/* BASIC STYLES */
body {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	font-weight: bold;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 16px;
}

p {
	padding: 0;
	margin: 0;
}

a {
	display: block;
    font-weight: 500;
    text-decoration: none;
	color: #fff;
	transition: all 0.5s ease;
}

a:before, a:after, a > span:before, a > span:after {
	content: '';
	position: absolute;
	transition: transform 0.5s ease;
}

a:hover {
	text-decoration: none;
}

ul, li {
	display: inline-block;
	padding: 0;
	margin: 0;
	list-style: none;
}

img {
	max-width: 100%;
}

section {
	padding-bottom: 50px;
	color: #000;
}

.topping {
	position: relative;
	margin-top: 50px;
}

/* MAIN SCREEN STYLES */
.header {
	padding-top: 28px;
	background: linear-gradient(#27ae60, #219452);
}

.logotype {
	position: relative;
	display: block;
	width: 125px;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
}

.logotype:before,
.logotype:after {
    top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-style: solid;
	border-color: #fff;
}

.logotype:before {
	border-width: 1px 0 1px 0;
	transform: scaleX(0);
}

.logotype:after {
	border-width: 0 1px 0 1px;
	transform: scaleY(0);
}

.logotype:hover:before,
.logotype:hover:after {
	transform: scale(1, 1);
}

.logotype:hover {
	color: inherit;
}

.menu__item {
	margin-right: 20px;
}

.menu__item:last-child {
	margin-right: 0;
}

.menu__link:hover {
	color: inherit;
	opacity: 0.8;
}

.offer {
	margin-top: 104px;
}

.offer__desc {
	margin-top: 18px;
	margin-bottom: 25px;
	width: 100%;
}

.offer__btn {
	display: inline-block;
	width: 246px;
	height: 46px;
	line-height: 46px;
	text-align: center;
	background: #219452;
	border-radius: 5px;
}

.offer__btn:hover {
	color: inherit;
	background: #27814D;
}

.header-img {
	margin-top: 30px;
}

/* SERVICES SECTION STYLES */
.services {
	background: rgba(33,148,82,0.05);
}

.topping__title_services:before {
    content: '~';
	position: absolute;
	top: -30%;
	left: 0;
	font-size: 40px;
	color: #27AE60;
}

.dividing__title {
	position: relative;
	margin-top: 30px;
	margin-bottom: 14px;
	opacity: 0.5;
}

.dividing__title:after {
	content: '';
	position: absolute;
	margin-left: 10px;
	margin-top: 10px;
	width: calc(100% - 143px);
    height: 1px;
    opacity: 0.2;
	background: #000;
}

.work__wrapper {
	position: relative;
	padding: 105px 0 20px 25px;
	margin-top: 16px;
	width: 100%;
	max-height: 180px;
	color: #fff;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.5s ease;
}

.work__wrapper:hover {
	box-shadow: 0 8px 14px rgba(0,0,0,0.3);
}

.work__wrapper:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	border-radius: 10px;
}

.work__wrapper_course {
	background: url(../img/course.jpg) 50% no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}

.work__wrapper_thesis {
	background: url(../img/thesis.jpg) 50% no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}

.work__wrapper_practice {
	background: url(../img/practice.jpg) 50% no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}

.work__wrapper_coursework {
	background: url(../img/coursework.jpg) 50% no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}

.work__wrapper_diplomas {
	background: url(../img/diplomas.jpg) 50% no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}

.work__wrapper_abstracts {
	background: url(../img/abstracts.jpg) 50% no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}

.work__wrapper_articles {
	background: url(../img/articles.jpg) 50% no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}

.work__wrapper_practice-reports {
	background: url(../img/practice_reports.jpg) 50% no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}

.work__title {
	position: relative;
	margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
}

.work__price {
	position: relative;
	padding: 3px 20px;
    font-size: 12px;
    font-weight: 500;
	line-height: 25px;
	text-align: center;
	background: rgba(255,255,255,0.30);
	border-radius: 20px;
}

.work__deadlines {
	position: relative;
	margin-top: 5px;
	margin-left: 10px;
    font-size: 12px;
    font-weight: 500;
	opacity: 0.75;
}

/* STYLES OF THE SECTION GUARANTEES */
.guarantees {
	background: #FAFAFA;
}

.topping__title_guarantees:before {
    content: '';
	position: absolute;
	top: 40%;
	left: 0;
	width: 20px;
	height: 5px;
	background: #27AE60;
}

.guarantees-img {
	display: block;
	margin-top: 30px;
}

.guarantees-offer {
	margin-top: 40px;
}

.guarantees-offer__desc {
	margin-top: 20px;
	margin-bottom: 25px;
	width: 100%;
	font-size: 16px;
	line-height: 180%;
	color: #404040;
}

.guarantees-offer__btn {
	display: inline-block;
	padding: 15px 0;
	width: 246px;
	color: #219452;
	text-align: center;
	border: 1px solid #219452;
	border-radius: 5px;
}

.guarantees-offer__btn:hover {
    color: #fff;
	background: #219452;
}

/* STYLES OF THE SECTION REASONS */
.reasons {
	background: #F7F7F7;
}

.topping__title_reasons:before {
    content: '';
	position: absolute;
	top: 30%;
	left: 1%;
	width: 10px;
	height: 10px;
	background: #27AE60;
}

.reason__wrapper {
    position: relative;
    padding: 135px 0 25px 25px;
	margin-top: 16px;
	width: 100%;
	max-height: 180px;
	color: #fff;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.5s ease;
}

.reason__wrapper:hover {
	box-shadow: 6px 6px 12px rgba(0,0,0,0.3);
}

.reason__wrapper:before {
    content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	border-radius: 10px;
}

.reason__wrapper_first {
	background: url(../img/first.jpg) 50% no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}

.reason__wrapper_second {
	background: url(../img/second.jpg) 50% no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}

.reason__wrapper_third {
	background: url(../img/third.jpg) 50% no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}

.reason__wrapper_fourth {
	background: url(../img/fourth.jpg) 50% no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}

.reason__wrapper_fifth {
	background: url(../img/fifth.jpg) 50% no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}

.reason__wrapper_sixth {
	background: url(../img/sixth.jpg) 50% no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}

.reason__title {
	position: relative;
    font-size: 16px;
    font-weight: 500;
}

/* STYLES OF THE ORDER SECTION */
.order {
	padding-top: 50px;
	color: #fff;
	background: #27AE60;
}

.order-offer__list {
	margin-bottom: 16px;
	font-size: 16px;
}

.order-offer__icon {
	margin-right: 16px;
}

.order-offer__btn {
    display: inline-block;
    padding: 16px 0;
	margin-top: 30px;
    text-align: center;
    color: #219452;
	background: #fff;
	border-radius: 5px;
}

.order-offer__btn:hover {
	color: #219452;
	opacity: 0.8;
}

/* STYLES OF THE SECTION ADVANTAGES */
.advantages {
	background: rgba(33,148,82,0.05);
}

.topping__title_advantages:before {
    content: '';
	position: absolute;
	top: 30%;
	left: 1%;
	width: 10px;
	height: 10px;
	background: #27AE60;
	border-radius: 10px;
}

.advantages__wrapper {
	padding: 0 25px;
	text-align: center;
}

.advantages__icon {
	margin-bottom: 30px;
	font-size: 60px;
	color: #219452;
}

/* STYLES OF THE SECTION REVIEWS */
.reviews {
	background: #FAFAFA;
}

.topping__title_reviews:before {
    content: '~';
	position: absolute;
	top: -30%;
	left: 0;
	font-size: 40px;
	color: #27AE60;
}

.reviews__wrapper {
    padding: 25px;
	margin-top: 30px;
	background: #fff;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.5s ease;
}

.reviews__wrapper:hover {
	box-shadow: 0 4px 26px rgba(0,0,0,0.2);
}

.reviews__author {
	padding: 7px 0;
	width: 143px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
	color: #219452;
	background: rgba(33,148,82,0.10);
	border-radius: 100px;
	cursor: pointer;
}

.reviews__desc {
	margin-top: 15px;
	line-height: 180%;
	cursor: pointer;
}

/* FOOTER STYLES */
.footer {
	padding-bottom: 50px;
	background: #27AE60;
}

.footer-offer__desc {
	margin: 25px 0;
	font-weight: 500;
	line-height: 200%;
}

.footer-offer__btn {
	display: inline-block;
	padding: 16px 0;
	margin-right: 30px;
    width: 246px;
    text-align: center;
	color: #219452;
	background: #fff;
	border-radius: 5px;
}

.footer-offer__btn:hover {
	color: #219452;
	opacity: 0.8;
}

.footer-offer__social .footer-offer__link {
	margin-right: 20px;
    text-align: center;
}

.footer-offer__social_vk a:hover {
	color: #597da3;
}

.footer-offer__social_odnoklassniki a:hover {
	color: #ed812b;
}

.footer-offer__sub {
	margin-top: 25px;
	font-weight: 500;
	opacity: 0.5;
}

.footer-img {
	position: absolute;
	bottom: -50px;
}

/* MEDIA-SCREEN REQUESTS */
@media (min-width: 1200px) {
	.offer__desc {
		width: 80%;
	}
	.footer-offer__desc {
		font-size: 17px;
	}
	.footer-offer__sub {
		margin-top: 50px;
	}
}

@media (min-width: 992px) {
	.hamburger {
		display: none;
	}
	.menu {
		margin-top: 5px;
	}
	.guarantees-img {
		margin-top: 70px;
		margin-left: 80px;
	}
	.guarantees-offer {
		margin-left: 10%;
	}
	.order {
		padding-bottom: 0px;
	}
	.advantages__wrap {
		margin-top: 72px;
		border-right: 1px solid rgba(33,148,82,0.25);
	}

	.advantages__wrap:last-child {
		border-right: 0;
	}
}

@media (min-width: 768px) {
	.footer-offer {
		padding-top: 90px;
	}
	.footer-offer__desc {
		width: 75%;
	}
	.order-offer__btn {
		width: 246px;
	}
}

@media (min-width: 577px) {
	.topping__title {
		margin-left: 34px;
	}
}

@media (max-width: 991px) {
	.header {
		padding-bottom: 40px;
	}
	.logotype {
		margin: 0 auto;
	}
	.nav {
		justify-content: center;
	}
	.menu {
		margin-top: 15px;
	}
	.header-img {
		display: none;
	}
	.order-img {
		display: none;
	}
	.advantages__wrap {
		margin-top: 30px;
	}
}

@media (max-width: 767px) {
	.header {
		text-align: center;
	}
	.guarantees-offer {
		text-align: center;
	}
	.guarantees-img {
		margin-left: auto;
		margin-right: auto;
	}
	.order-offer__btn {
		width: 100%;
	}
	.footer-offer {
		padding-top: 40px;
		width: 100%;
		text-align: center;
	}
	.footer-offer__desc {
		width: 100%;
	}
	.footer-offer__contact {
		justify-content: center;
	}
	.footer-img {
		display: none;
	}
}

@media (max-width: 576px) {
	.topping__title {
		text-align: center;
	}
	.topping__title_services:before,
	.topping__title_guarantees:before,
	.topping__title_reasons:before,
	.topping__title_advantages:before,
	.topping__title_reviews:before {
		display: none;
	}
}